!!!
%html
  %head
    %title CanvasExperiment
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet" }
  %body
    = yield

:coffee
  window.trex_image = "#{ image_path 'trex.png' }"
  window.vapor_image = "#{ image_path 'vapor.png' }"